@import url('./alexa.css');

.ui-content {
    padding:0;
}
.ui-collapsible-content{
    padding:0;
}
.ui-panel-inner {
    padding:.5em;
}

#menu .ui-collapsible-content>.ui-listview{
    margin:0;

}
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.footer-map-list a{
    width:100%;
    margin:0;
    position:relative;
    left:-4px;
}

.thumb-box{
    padding:0;
    top:5px;
    background-color:#1b1b1b !important;
    border:none !important;
    text-shadow:none !important;
    box-shadow: none !important;

}
.thumb {
    width:32px;
    
}

.header-scroll li{

    list-style:none;
    width:22%;
    padding:0;
    margin:0;
    display: inline-block;
}
.header-scroll ul{
    width:100%;
    padding:0;
    margin:2px 0;
  overflow-x:auto;
    white-space:nowrap;

}
.header-scroll img{
    width:100%;
}
.header-scroll {
}
.clearfix {
    clear:both;
}
.pull-left{
    float:left;
} 
.text-center{
    text-align:center;
}

.collpase-center a{
    text-align: center !important;
    padding-left: 2.5em !important;

}
.menu-page .ui-collapsible-inset .ui-collapsible-content {
    margin:10px;
}


.event-header {
   vertical-align:middle;
}
.event-header img{
    width:70px;
}
.event-header div{
    margin-left:10px;
}
.map_preview {
    width:100%;
}




/* Friend List */
.anchor {
    font-weight:bold;
    margin:10px;
    text-decoration:underline;
    cursor:pointer;
}
.friend-list li img{
    margin:12px;
}

.friend-list li{
    text-align:center;
}

/* Friend List */
.addfriend .search{
    padding:1em 1em 0;
}
/* Friend Detail */
.f-detail .f-info {
    margin:1em 2em 6em;;
}
.f-detail .f-info img{
    margin:0 1.2em;
    width:25%;    
    max-width:89px;
}
.f-detail .f-info h3{
 
}

.f-detail .f-eventbox {
    margin: 1em 3em 2em;
}
.f-detail .f-eventbox p{
    color: #ccc;
    padding:1.2em;
    border: 1px solid #aaa;
}

.f-detail .f-info .btn-add{
    position:absolute;
    top:2.8em;
    right:0;
}
/* Profile */
.profile .p-info {
    margin:1em 2em 6em;;
}
.profile .p-info-b {
    margin:2em;;
}
.profile .p-info img{
    margin:0 1.2em;
    width:25%;    
    max-width:89px;
}
.profile .p-info .btn-edit{
    position:absolute;
    top:2.8em;
    right:0;
}

.p-info-b h4,.p-info-b span{
    margin: 0;
    line-height:48px;
}

.p-info-b .p-detail p{
    color: #ccc;
    padding:1.2em;
    border: 1px solid #aaa;
}
/* feedback */
.feedback label{
    font-size:1.3em;
    padding:.8em 1.6em;
    text-align:center;
    width:0 auto;
}
.feedback img{
    width:30%;
    max-width:90px;
    float:left;
}
.feedback .ui-grid-b .ui-block-a {
    text-align:right;
}
.feedback .ui-grid-a .ui-block-a {
    text-align:center;
}

/*About Us*/
.aboutus {
    margin:2em;
}
.bold{
    font-weight:bold;
    color:yellow;
}

/* create event 2 */
.c_event2,.c_event3,.c_event4{
    padding: 2em;
}
.c4_eventname img{
    margin: 0 1.2em 1em 0 ;
    width:20%;
    max-width:72px;
}
.c4_eventname h3{
    padding:.3em;
}
.c4_detail{
    word-spacing:3px;
    padding:1em;
    margin:1em 0;
    border:1px solid #ccc;
    height: 4.5em;
}
